!!!
%html
  %head
    %title Depot
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body{:class => controller.controller_name}
    .container#banner
      = image_tag('logo.png')
      = @page_title || "Pragmatic Bookshelf"
    .container#columns
      #side
        %ul
          %li= link_to 'Home', '/'
          %li= link_to 'Questions', '#'
          %li= link_to 'News', '#'
          %li= link_to 'Contact', '#'
      #main
        = yield
        /= pluralize(@count, 'page load') if @count
